// VARIABLES
// =========================
// 1. Colours
// 2. Fonts
// 3. Breakpoints
// =========================


// 1. Colours
// ------------------
$white: #fff;
$black: #000;

$grey: #E3EBF0;
$orange: #EA5E3F;


// 2. Fonts
// ------------------
$font-title: "Lato", sans-serif;
$font-text: "Ubuntu", sans-serif;


// 3. Breakpoints
// --------------------
$desktop: 992px;
$tablet: 767px;
$phablet: 620px;
$phone: 480px;